<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <!-- defines the extension point to contribute custom quickfixes. -->
    <extension-point
        id="checkstyleQuickfixProvider"
        name="Checkstyle Quickfix provider"
        schema="schema/checkstyleQuickfixProvider.exsd"/>

    <!-- defines the extension point to contribute custom filter editors for plugin filters -->
    <extension-point
        id="filtereditors"
        name="Checkstyle filter editors"
        schema="schema/filtereditors.exsd"/>

    <!-- defines the extension point to contribute the ui part of check configuration types -->
    <extension-point
        id="configtypesui"
        name="Checkstyle configuration type editors"
        schema="schema/configtypesui.exsd"/>

    <!-- Filter editors for filters allowing user input -->
    <extension
        point="net.sf.eclipsecs.ui.filtereditors">
        <filtereditor
            class="net.sf.eclipsecs.ui.properties.filter.FileTypesFilterEditor"
            filter="FileTypesFilter"/>
        <filtereditor
            class="net.sf.eclipsecs.ui.properties.filter.PackageFilterEditor"
            filter="FilesFromPackage"/>
    </extension>

	<!-- Configuration type editors -->
	<extension
        point="net.sf.eclipsecs.ui.configtypesui">
        <configtypeui
            configtypename="builtin"
            editorclass="net.sf.eclipsecs.ui.config.configtypes.BuiltInConfigurationEditor"
            icon="icons/configtype_builtin.gif"/>
        <configtypeui
            configtypename="internal"
            editorclass="net.sf.eclipsecs.ui.config.configtypes.InternalConfigurationEditor"
            icon="icons/configtype_internal.gif"/>
        <configtypeui
            configtypename="external"
            editorclass="net.sf.eclipsecs.ui.config.configtypes.ExternalFileConfigurationEditor"
            icon="icons/configtype_external.gif"/>
        <configtypeui
            configtypename="remote"
            editorclass="net.sf.eclipsecs.ui.config.configtypes.RemoteConfigurationEditor"
            icon="icons/configtype_remote.gif"/>
        <configtypeui
            configtypename="project"
            editorclass="net.sf.eclipsecs.ui.config.configtypes.ProjectConfigurationEditor"
            icon="icons/configtype_project.gif"/>
	</extension>

    <extension
        point="org.eclipse.ui.startup">
        <startup
            class="net.sf.eclipsecs.ui.CheckstylePluginStartup"/>
    </extension>

    <extension
        point="org.eclipse.core.runtime.preferences">
        <initializer
            class="net.sf.eclipsecs.ui.CheckstyleUIPluginPrefs"/>
    </extension>
    <extension
        point="org.eclipse.ui.preferenceTransfer">
        <transfer
              id="net.sf.eclipsecs.ui.transfer"
              name="%CheckstylePreferenceTransfer.name"
              icon="icons/checkstyle_error.gif">
           <mapping
                 scope="instance" >
                 <entry node="net.sf.eclipsecs.core"/>
                 <entry node="net.sf.eclipsecs.ui"/>
           </mapping>
        </transfer>
        <settingsTransfer
            id="net.sf.eclipsecs.settings"
            name="%CheckstylePreferenceTransfer.name"
            class="net.sf.eclipsecs.ui.preferences.CheckstyleSettingsTransfer">
            <description>%CheckstylePreferenceTransfer.description</description>
        </settingsTransfer>
    </extension>

    <extension
        point="org.eclipse.ui.preferencePages">
        <page
            name="%CheckstylePreferencePage.name"
            class="net.sf.eclipsecs.ui.preferences.CheckstylePreferencePage"
            id="net.sf.eclipsecs.preferences.CheckstylePreferencePage"/>
    </extension>
    <extension
        point="org.eclipse.ui.propertyPages">
        <page
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            name="%CheckstylePropertiesPage.name"
            nameFilter="*"
            class="net.sf.eclipsecs.ui.properties.CheckstylePropertyPage"
            id="net.sf.eclipsecs.properties.CheckstylePropertyPage">
            <filter
                name="open"
                value="true"/>
        </page>
        <page
              adaptable="true"
              class="net.sf.eclipsecs.ui.properties.marker.MarkerPropertyPage"
              id="net.sf.eclipsecs.properties.MarkerPropertyPage"
              name="%CheckstylePropertiesPage.name"
              nameFilter="*"
              objectClass="org.eclipse.core.resources.IMarker">
           <enabledWhen>
              <adapt
                    type="org.eclipse.core.resources.IMarker">
                 <test
                       property="net.sf.eclipsecs.isCheckstyleMarker">
                 </test>
              </adapt></enabledWhen>
        </page>
    </extension>

    <!--
	Provide marker resolutions
	-->
    <extension
        point="org.eclipse.ui.ide.markerResolution">
        <markerResolutionGenerator
            markerType="net.sf.eclipsecs.core.CheckstyleMarker"
            class="net.sf.eclipsecs.ui.quickfixes.CheckstyleMarkerResolutionGenerator"/>
    </extension>


    <!--
   Annotation-support for checkstyle markers
   -->
    <extension
        point="org.eclipse.ui.editors.annotationTypes">
        <type
            name="net.sf.eclipsecs.error"
            markerType="net.sf.eclipsecs.core.CheckstyleMarker"
            markerSeverity="2"/>
        <type
            name="net.sf.eclipsecs.warning"
            markerType="net.sf.eclipsecs.core.CheckstyleMarker"
            markerSeverity="1"/>
        <type
            name="net.sf.eclipsecs.info"
            markerType="net.sf.eclipsecs.core.CheckstyleMarker"
            markerSeverity="0"/>
    </extension>

    <extension
        point="org.eclipse.ui.editors.markerAnnotationSpecification">
        <specification
            annotationType="net.sf.eclipsecs.error"
            annotationImageProvider="net.sf.eclipsecs.ui.CheckstyleMarkerImageProvider"
            presentationLayer="5"
            label="Checkstyle error"
            verticalRulerPreferenceKey="net.sf.eclipsecs.error.verticalruler"
            verticalRulerPreferenceValue="true"
            overviewRulerPreferenceKey="net.sf.eclipsecs.error.overviewruler"
            overviewRulerPreferenceValue="true"
            showInNextPrevDropdownToolbarActionKey="net.sf.eclipsecs.error.dropdown"
            showInNextPrevDropdownToolbarAction="true"
            isGoToPreviousNavigationTargetKey="net.sf.eclipsecs.error.previous"
            isGoToPreviousNavigationTarget="true"
            isGoToNextNavigationTargetKey="net.sf.eclipsecs.error.next"
            isGoToNextNavigationTarget="true"
            highlightPreferenceKey="net.sf.eclipsecs.error.highlight"
            highlightPreferenceValue="true"
            textPreferenceKey="net.sf.eclipsecs.error.text"
            textPreferenceValue="false"
            textStylePreferenceKey="net.sf.eclipsecs.error.text.style"
            textStylePreferenceValue="BOX"
            colorPreferenceKey="net.sf.eclipsecs.error.color"
            colorPreferenceValue="255,225,225"
            icon="icons/checkstyle_error.gif"/>
        <specification
            annotationType="net.sf.eclipsecs.warning"
            annotationImageProvider="net.sf.eclipsecs.ui.CheckstyleMarkerImageProvider"
            presentationLayer="4"
            label="Checkstyle warning"
            verticalRulerPreferenceKey="net.sf.eclipsecs.warning.verticalruler"
            verticalRulerPreferenceValue="true"
            overviewRulerPreferenceKey="net.sf.eclipsecs.warning.overviewruler"
            overviewRulerPreferenceValue="true"
            showInNextPrevDropdownToolbarActionKey="net.sf.eclipsecs.warning.dropdown"
            showInNextPrevDropdownToolbarAction="true"
            isGoToPreviousNavigationTargetKey="net.sf.eclipsecs.warning.previous"
            isGoToPreviousNavigationTarget="true"
            isGoToNextNavigationTargetKey="net.sf.eclipsecs.warning.next"
            isGoToNextNavigationTarget="true"
            highlightPreferenceKey="net.sf.eclipsecs.warning.highlight"
            highlightPreferenceValue="true"
            textPreferenceKey="net.sf.eclipsecs.warning.text"
            textPreferenceValue="false"
            textStylePreferenceKey="net.sf.eclipsecs.warning.text.style"
            textStylePreferenceValue="BOX"
            colorPreferenceKey="net.sf.eclipsecs.warning.color"
            colorPreferenceValue="255,255,190"
            icon="icons/checkstyle_warning.gif"/>
        <specification
            annotationType="net.sf.eclipsecs.info"
            annotationImageProvider="net.sf.eclipsecs.ui.CheckstyleMarkerImageProvider"
            presentationLayer="3"
            label="Checkstyle info"
            verticalRulerPreferenceKey="net.sf.eclipsecs.info.verticalruler"
            verticalRulerPreferenceValue="true"
            overviewRulerPreferenceKey="net.sf.eclipsecs.info.overviewruler"
            overviewRulerPreferenceValue="true"
            showInNextPrevDropdownToolbarActionKey="Cnet.sf.eclipsecs.info.dropdown"
            showInNextPrevDropdownToolbarAction="true"
            isGoToPreviousNavigationTargetKey="net.sf.eclipsecs.info.previous"
            isGoToPreviousNavigationTarget="true"
            isGoToNextNavigationTargetKey="net.sf.eclipsecs.info.next"
            isGoToNextNavigationTarget="true"
            highlightPreferenceKey="net.sf.eclipsecs.info.highlight"
            highlightPreferenceValue="true"
            textPreferenceKey="net.sf.eclipsecs.info.text"
            textPreferenceValue="false"
            textStylePreferenceKey="net.sf.eclipsecs.info.text.style"
            textStylePreferenceValue="BOX"
            colorPreferenceKey="net.sf.eclipsecs.info.color"
            colorPreferenceValue="225,225,255"
            icon="icons/checkstyle_info.gif"/>
    </extension>

    <extension
        point="org.eclipse.ui.views">
        <category
            name="Checkstyle"
            id="net.sf.eclipsecs.category"/>
        <view
            name="%MarkerStatsView.name"
            icon="icons/listingView.gif"
            category="net.sf.eclipsecs.category"
            class="net.sf.eclipsecs.ui.stats.views.MarkerStatsView"
            id="net.sf.eclipsecs.ui.stats.views.MarkerStatsView"/>
        <view
            name="%GraphStatsView.name"
            icon="icons/graphView.gif"
            category="net.sf.eclipsecs.category"
            class="net.sf.eclipsecs.ui.stats.views.GraphStatsView"
            id="net.sf.eclipsecs.ui.stats.views.GraphStatsView"/>
    </extension>

    <extension
        point="org.eclipse.ui.ide.markerSupport">

        <markerGroupingEntry
            id="net.sf.eclipsecs.core.CheckstyleMarker"
            markerGrouping="org.eclipse.jdt.ui.java_marker_category"
            label="%CheckstyleMarker.name"
            priority="1"/>

        <markerAttributeGrouping
            markerType="net.sf.eclipsecs.core.CheckstyleMarker"
            attribute="categoryId">
            <markerAttributeMapping
                value="999"
                markerGroupingEntry="net.sf.eclipsecs.core.CheckstyleMarker"/>
        </markerAttributeGrouping>
    </extension>

    <!-- Popupmenu action for the 'Apply Checkstyle fixes' action -->
    <extension
        point="org.eclipse.ui.popupMenus">
        <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            adaptable="true"
            id="net.sf.eclipsecs.ui.FixCheckstyleMarkersAction">
            <visibility>
                <or>
                    <objectClass
                        name="org.eclipse.jdt.core.ICompilationUnit"/>
                    <objectClass
                        name="org.eclipse.jdt.core.IType"/>
                    <and>
                        <objectClass
                            name="org.eclipse.core.resources.IFile"/>
                        <objectState
                            name="extension"
                            value="java"/>
                    </and>
                </or>
            </visibility>
            <action
                label="%FixCheckstyleMarkersAction.label"
                class="net.sf.eclipsecs.ui.quickfixes.FixCheckstyleMarkersAction"
                enablesFor="1"
                menubarPath="additions"
                tooltip="%FixCheckstyleMarkersAction.tooltip"
                definitionId="CheckstylePlugin.ApplyCheckstyleFixes"
                id="net.sf.eclipsecs.FixCheckstyleMarkersAction">
                <selection
                    name="*.java"
                    class="org.eclipse.core.resources.IFile"/>
                <selection
                    class="org.eclipse.jdt.core.ICompilationUnit"/>
                <selection
                    class="org.eclipse.jdt.core.IType"/>
            </action>
        </objectContribution>
    </extension>
    <extension
        point="org.eclipse.ui.commands">
        <category id="net.sf.eclipsecs.ui" name="Checkstyle"/>
        <command
            categoryId="org.eclipse.jdt.ui.category.source"
            description="%FixCheckstyleMarkersAction.tooltip"
            id="CheckstylePlugin.ApplyCheckstyleFixes"
            name="%FixCheckstyleMarkersAction.label"
            defaultHandler="net.sf.eclipsecs.ui.quickfixes.FixCheckstyleMarkersHandler"/>
        <command
            categoryId="net.sf.eclipsecs.ui"
            description="%PurgeCaches.tooltip"
            id="CheckstylePlugin.PurgeCaches"
            name="%PurgeCaches.label"
            defaultHandler="net.sf.eclipsecs.ui.actions.PurgeCachesAction"/>
    </extension>
    <extension
        point="org.eclipse.ui.bindings">
        <key
            sequence="M1+M3+C"
            commandId="CheckstylePlugin.ApplyCheckstyleFixes"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.jdt.ui.javaEditorScope"/>></extension>

    <!-- Popupmenu action for the 'Configure Project(s) from blueprint...' action -->
    <extension
        point="org.eclipse.ui.popupMenus">
        <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="net.sf.eclipsecs.bulk">
            <menu
                id="Checkstyle.menu"
                label="%Checkstyle.menu"
                path="additions">
                <separator
                    name="xbatch"/>
            </menu>
            <visibility>
                <objectClass
                    name="org.eclipse.core.resources.IProject"/>
            </visibility>
            <action
                label="%DeactivateProjectsPrintAction.label"
                class="net.sf.eclipsecs.ui.actions.DeactivateProjectsAction"
                enablesFor="+"
                menubarPath="Checkstyle.menu/xbatch"
                tooltip="%DeactivateProjectsPrintAction.tooltip"
                id="net.sf.eclipsecs.projectconfig.DeactivateProjectsPrintAction">
                <selection
                    class="org.eclipse.core.resources.IProject"/>
            </action>
            <action
                label="%ActivateProjectsPrintAction.label"
                class="net.sf.eclipsecs.ui.actions.ActivateProjectsAction"
                enablesFor="+"
                menubarPath="Checkstyle.menu/xbatch"
                tooltip="%ActivateProjectsPrintAction.tooltip"
                id="net.sf.eclipsecs.projectconfig.ActivateProjectsPrintAction">
                <selection
                    class="org.eclipse.core.resources.IProject"/>
            </action>
            <action
                label="%ConfigureProjectFromBluePrintAction.label"
                class="net.sf.eclipsecs.ui.actions.ConfigureProjectFromBluePrintAction"
                enablesFor="+"
                menubarPath="Checkstyle.menu/xbatch"
                tooltip="%ConfigureProjectFromBluePrintAction.tooltip"
                id="net.sf.eclipsecs.ConfigureProjectFromBluePrintAction">
                <selection
                    class="org.eclipse.core.resources.IProject"/>
            </action>
        </objectContribution>
    </extension>

    <!-- Popupmenu actions to check selected files on demand -->
    <extension
        point="org.eclipse.ui.popupMenus">
        <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="net.sf.eclipsecs.bulk">
            <menu
                id="Checkstyle.menu"
                label="%Checkstyle.menu"
                path="additions">
                <separator
                    name="xbatch"/>
            </menu>
            <!--
            Activate this menu-point for Transformingaction from Formatter-Profile to Checkstyle-Setting
            <action
                label="%FormatterTransformingAction.label"
                class="net.sf.eclipsecs.ui.actions.FormatterTransformingAction"
                enablesFor="+"
                menubarPath="Checkstyle.menu/ondemand"
                tooltip="%FormatterTransformingTooltip.tooltip"
                id="net.sf.eclipsecs.actions.FormatterTransformingAction"/>
            -->
            <action
                label="%CheckstyleTransformingAction.label"
                class="net.sf.eclipsecs.ui.actions.CheckstyleTransformingAction"
                enablesFor="+"
                menubarPath="Checkstyle.menu/ondemand"
                tooltip="%CheckstyleTransformingTooltip.tooltip"
                id="net.sf.eclipsecs.actions.CheckstyleTransformingAction"/>
        </objectContribution>

        <objectContribution
            objectClass="org.eclipse.core.resources.IResource"
            adaptable="true"
            id="net.sf.eclipsecs.ondemand">
            <menu
                id="Checkstyle.menu"
                label="%Checkstyle.menu"
                path="additions">
                <separator
                    name="ondemand"/>
            </menu>
            <!--
            <action
                label="%FormatterTransformingAction.label"
                class="net.sf.eclipsecs.ui.actions.FormatterTransformingAction"
                enablesFor="+"
                menubarPath="Checkstyle.menu/ondemand"
                tooltip="%FormatterTransformingTooltip.tooltip"
                id="net.sf.eclipsecs.actions.FormatterTransformingAction"/>
            <action
                label="%CheckstyleTransformingAction.label"
                class="net.sf.eclipsecs.ui.actions.CheckstyleTransformingAction"
                enablesFor="+"
                menubarPath="Checkstyle.menu/ondemand"
                tooltip="%CheckstyleTransformingTooltip.tooltip"
                id="net.sf.eclipsecs.actions.CheckstyleTransformingAction"/>
            -->

            <action
                label="%ClearSelectedFilesAction.label"
                class="net.sf.eclipsecs.ui.actions.ClearSelectedFilesAction"
                enablesFor="+"
                menubarPath="Checkstyle.menu/ondemand"
                tooltip="%ClearSelectedFilesAction.tooltip"
                id="net.sf.eclipsecs.actions.ClearSelectedFilesAction"/>
            <action
                label="%CheckSelectedFilesAction.label"
                class="net.sf.eclipsecs.ui.actions.CheckSelectedFilesAction"
                enablesFor="+"
                menubarPath="Checkstyle.menu/ondemand"
                tooltip="%CheckSelectedFilesAction.tooltip"
                id="net.sf.eclipsecs.ui.actions.CheckSelectedFilesAction"/>
        </objectContribution>
    </extension>
    
    <extension
          point="org.eclipse.ui.actionSets" >
          <actionSet
                id="net.sf.eclipsecs.ui.actionSet" visible="false" label="Checkstyle">
                <action 
                    id="net.sf.eclipsecs.action.purgecaches"
                    class="net.sf.eclipsecs.ui.actions.PurgeCachesAction"
                    toolbarPath="Normal/ZCheckstyle"
                    icon="icons/refresh.gif"
                    label="%PurgeCaches.label"
                    tooltip="%PurgeCaches.tooltip" mode="FORCE_TEXT">
                </action>
          </actionSet>
    </extension>
    <extension
          point="org.eclipse.core.expressions.propertyTesters">
       <propertyTester
             class="net.sf.eclipsecs.ui.properties.marker.CheckstyleMarkerPropertyTester"
             id="net.sf.eclipsecs.MarkerPropertyTester"
             namespace="net.sf.eclipsecs"
             properties="isCheckstyleMarker"
             type="org.eclipse.core.resources.IMarker">
       </propertyTester>
    </extension>
</plugin>
