# All files default to text with LF eol
* eol=lf

# Windows files always have CRLF eol
*.bat eol=crlf

# Binary files need to be listed explicitly as first rule makes all files text files
*.eot binary
*.gif binary
*.ico binary
*.jar binary
*.jpeg binary
*.jpg binary
*.otf binary
*.pspimage binary
*.png binary
*.ttf binary
*.woff binary
