<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  
   <!-- defines the extension point to contribute custom filters to the checkstyle plugin -->
   <extension-point id="filters" name="Checkstyle filters" schema="schema/filters.exsd"/>
   
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Checkstyle"
            class="com.atlassw.tools.eclipse.checkstyle.preferences.CheckstylePreferencePage"
            id="com.atlassw.tools.eclipse.checkstyle.preferences.CheckstylePreferencePage">
      </page>
      <page
            class="com.atlassw.tools.eclipse.checkstyle.preferences.duplicates.DuplicatedCodePreferencePage"
            category="com.atlassw.tools.eclipse.checkstyle.preferences.CheckstylePreferencePage"
            name="Duplicates Analysis"
            id="com.atlassw.tools.eclipse.checkstyle.preferences.duplicates.DuplicatedCodePreferencePage"/>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            name="%CheckstylePropertiesPage.name"
            nameFilter="*"
            class="com.atlassw.tools.eclipse.checkstyle.properties.CheckstylePropertyPage"
            id="com.atlassw.tools.eclipse.checkstyle.properties.samplePropertyPage">
      </page>
   </extension>
   <extension
         id="CheckstyleBuilder"
         name="%CheckstyleBuilder.name"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="com.atlassw.tools.eclipse.checkstyle.builder.CheckstyleBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="CheckstyleNature"
         name="%CheckstyleNature.name"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.atlassw.tools.eclipse.checkstyle.nature.CheckstyleNature">
         </run>
      </runtime>
   </extension>
 
<!--
	Marker for displaying checkstyle warnings
	-->
   <extension
         id="CheckstyleMarker"
         name="%CheckstyleMarker.name"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <attribute
            name="line">
      </attribute>
      <persistent
            value="true">
      </persistent>
   </extension>   

<!--
   Annotation-support for checkstyle markers
   -->
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="com.atlassw.tools.eclipse.checkstyle.CheckstyleMarker"
            name="com.atlassw.tools.eclipse.checkstyle.CheckstyleAnnotation"
            markerSeverity="1">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            textPreferenceKey="CheckstyleAnnotation.text"
            presentationLayer="3"
            highlightPreferenceValue="true"
            showInNextPrevDropdownToolbarAction="true"
            textPreferenceValue="false"
            isGoToPreviousNavigationTargetKey="CheckstyleAnnotation.previous"
            label="%CheckstyleMarker.name"
            colorPreferenceKey="CheckstyleAnnotation.color"
            showInNextPrevDropdownToolbarActionKey="CheckstyleAnnotation.dropdown"
            annotationType="com.atlassw.tools.eclipse.checkstyle.CheckstyleAnnotation"
            isGoToNextNavigationTargetKey="CheckstyleAnnotation.next"
            isGoToNextNavigationTarget="true"
            textStylePreferenceKey="checkstyle.text.style"
            overviewRulerPreferenceKey="CheckstyleAnnotation.overviewruler"
            verticalRulerPreferenceValue="true"
            highlightPreferenceKey="CheckstyleAnnotation.highlight"
            isGoToPreviousNavigationTarget="true"
            verticalRulerPreferenceKey="CheckstyleAnnotation.verticalruler"
            icon="icons/checkstyle_marker.gif"
            textStylePreferenceValue="BOX"
            colorPreferenceValue="255,213,213"
            overviewRulerPreferenceValue="true">
      </specification>
   </extension>
   
   <extension
         point="org.eclipse.jdt.ui.javaEditorTextHovers">
      <hover
            label="%CheckstyleMarker.name"
            activate="true"
            class="com.atlassw.tools.eclipse.checkstyle.builder.CheckstyleHover"
            id="com.atlassw.tools.eclipse.checkstyle.builder.CheckstyleHover">
      </hover>
   </extension>
   

<!-- 
	Standard checkstyle filters
	-->
   <extension
         id="checkstyle.CheckstyleFilters"
         point="com.atlassw.tools.eclipse.checkstyle.filters">
      <filter
            readonly="true"
            name="%NonJavaFilesFilter.label"
            internal-name="NonJavaFiles"
            selected="true"
            description="%NonJavaFilesFilter.description"
            class="com.atlassw.tools.eclipse.checkstyle.projectconfig.filters.NonJavaFileFilter">
      </filter>
      <filter
            name="%WriteProtectedFilter.label"
            internal-name="WriteProtectedFiles"
            description="%WriteProtectedFilter.description"
            class="com.atlassw.tools.eclipse.checkstyle.projectconfig.filters.WriteProtectedFilter">
      </filter>
      <filter
            name="%UnOpenedFilesFilter.label"
            internal-name="UnOpenedFiles"
            description="%UnOpenedFilesFilter.description"
            class="com.atlassw.tools.eclipse.checkstyle.projectconfig.filters.UnOpenedFilesFilter">
      </filter>      
      <filter
            editorClass="com.atlassw.tools.eclipse.checkstyle.projectconfig.filters.PackageFilterEditor2"
            internal-name="FilesFromPackage"
            name="%PackageFilter.label"
            description="%PackageFilter.description"
            class="com.atlassw.tools.eclipse.checkstyle.projectconfig.filters.PackageFilter">
      </filter>
      <!--
      <filter
            editorClass="com.atlassw.tools.eclipse.checkstyle.filters.RegexFilterEditor"
            name="%RegexFilter.label"
            description="%RegexFilter.description"
            class="com.atlassw.tools.eclipse.checkstyle.filters.RegexFilter">
      </filter>
      -->
   </extension>
   
   <!--
   Action that launches the duplicates analysis
   -->
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IResource"
            nameFilter="*"
            id="com.atlassw.tools.eclipse.checkstyle.projectcontribution">
         <menu
               label="Checkstyle"
               path="additions"
               id="com.atlassw.tools.eclipse.checkstyle.menu">
            <separator name="group1"/>
         </menu>
         <action
               enablesFor="*"
               label="Search duplicated code"
               icon="icons/duplicatedCode.gif"
               class="com.atlassw.tools.eclipse.checkstyle.duplicates.DuplicatedCodeAction"
               menubarPath="com.atlassw.tools.eclipse.checkstyle.menu/group1"
               id="com.atlassw.tools.eclipse.checkstyle.duplicatesAction"/>
      </objectContribution>
   </extension>
   
   <!--
   View that displays the duplicates
   -->
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Checkstyle"
            id="com.atlassw.tools.eclipse.checkstyle.category">
      </category>
      <view
            class="com.atlassw.tools.eclipse.checkstyle.duplicates.DuplicatedCodeView"
            icon="icons/duplicatedCode.gif"
            category="com.atlassw.tools.eclipse.checkstyle.category"
            name="Duplication de code"
            id="com.atlassw.tools.eclipse.checkstyle.duplicatesView"/>
   </extension>
   
</plugin>
