<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  
   <!-- defines the extension point to contribute custom configuration type. -->
   <extension-point id="configurationtypes" name="Configuration types" schema="schema/configtypes.exsd"/>

   <!-- defines the extension point to contribute default checkstyle configurations to the checkstyle plugin -->
   <extension-point id="configurations" name="Checkstyle configurations" schema="schema/configurations.exsd"/>
    
   <!-- defines the extension point to contribute custom filters to the checkstyle plugin -->
   <extension-point id="filters" name="Checkstyle filters" schema="schema/filters.exsd"/>
   
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Checkstyle"
            class="com.atlassw.tools.eclipse.checkstyle.preferences.CheckstylePreferencePage"
            id="com.atlassw.tools.eclipse.checkstyle.preferences.CheckstylePreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            name="%CheckstylePropertiesPage.name"
            nameFilter="*"
            class="com.atlassw.tools.eclipse.checkstyle.properties.CheckstylePropertyPage"
            id="com.atlassw.tools.eclipse.checkstyle.properties.samplePropertyPage">
      </page>
   </extension>
   <extension
         id="CheckstyleBuilder"
         name="%CheckstyleBuilder.name"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="com.atlassw.tools.eclipse.checkstyle.builder.CheckstyleBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="CheckstyleNature"
         name="%CheckstyleNature.name"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.atlassw.tools.eclipse.checkstyle.nature.CheckstyleNature">
         </run>
      </runtime>
   </extension>
 
<!--
	Marker for displaying checkstyle warnings
	-->
   <extension
         id="CheckstyleMarker"
         name="%CheckstyleMarker.name"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <attribute
            name="line">
      </attribute>
      <persistent
            value="true">
      </persistent>
   </extension>   

<!--
   Annotation-support for checkstyle markers
   -->
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
      		name="com.atlassw.tools.eclipse.checkstyle.error"         
            markerType="com.atlassw.tools.eclipse.checkstyle.CheckstyleMarker"
            super="org.eclipse.ui.workbench.texteditor.error"
            markerSeverity="2">
      </type>
      <type
      		name="com.atlassw.tools.eclipse.checkstyle.warning"         
            markerType="com.atlassw.tools.eclipse.checkstyle.CheckstyleMarker"
            super="org.eclipse.ui.workbench.texteditor.warning"
            markerSeverity="1">
      </type>
      <type
      		name="com.atlassw.tools.eclipse.checkstyle.info"         
            markerType="com.atlassw.tools.eclipse.checkstyle.CheckstyleMarker"
            super="org.eclipse.ui.workbench.texteditor.info"
            markerSeverity="0">
      </type>
   </extension>
  
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
      		annotationType="com.atlassw.tools.eclipse.checkstyle.error"
      		annotationImageProvider="com.atlassw.tools.eclipse.checkstyle.builder.CheckstyleMarkerImageProvider"
      		presentationLayer="5"
      		label="Checkstyle error"      		   
            verticalRulerPreferenceKey="com.atlassw.tools.eclipse.checkstyle.error.verticalruler"
            verticalRulerPreferenceValue="true"
            overviewRulerPreferenceKey="com.atlassw.tools.eclipse.checkstyle.error.overviewruler"            
            overviewRulerPreferenceValue="true"
            showInNextPrevDropdownToolbarActionKey="com.atlassw.tools.eclipse.checkstyle.error.dropdown"
            showInNextPrevDropdownToolbarAction="true"  
            isGoToPreviousNavigationTargetKey="com.atlassw.tools.eclipse.checkstyle.error.previous"
            isGoToPreviousNavigationTarget="true"            
            isGoToNextNavigationTargetKey="com.atlassw.tools.eclipse.checkstyle.error.next"
            isGoToNextNavigationTarget="true"                 
            highlightPreferenceKey="com.atlassw.tools.eclipse.checkstyle.error.highlight"
            highlightPreferenceValue="true"
            textPreferenceKey="com.atlassw.tools.eclipse.checkstyle.error.text"
            textPreferenceValue="false"
            textStylePreferenceKey="com.atlassw.tools.eclipse.checkstyle.error.text.style"
            textStylePreferenceValue="BOX"           
            colorPreferenceKey="com.atlassw.tools.eclipse.checkstyle.error.color"
            colorPreferenceValue="255,225,225"
            icon="icons/checkstyle_error.gif"
            >
      </specification>
      <specification
      		annotationType="com.atlassw.tools.eclipse.checkstyle.warning"
      		annotationImageProvider="com.atlassw.tools.eclipse.checkstyle.builder.CheckstyleMarkerImageProvider"
      		presentationLayer="4"
      		label="Checkstyle warning"      		   
            verticalRulerPreferenceKey="com.atlassw.tools.eclipse.checkstyle.warning.verticalruler"
            verticalRulerPreferenceValue="true"
            overviewRulerPreferenceKey="com.atlassw.tools.eclipse.checkstyle.warning.overviewruler"            
            overviewRulerPreferenceValue="true"
            showInNextPrevDropdownToolbarActionKey="com.atlassw.tools.eclipse.checkstyle.warning.dropdown"
            showInNextPrevDropdownToolbarAction="true"  
            isGoToPreviousNavigationTargetKey="com.atlassw.tools.eclipse.checkstyle.warning.previous"
            isGoToPreviousNavigationTarget="true"            
            isGoToNextNavigationTargetKey="com.atlassw.tools.eclipse.checkstyle.warning.next"
            isGoToNextNavigationTarget="true"                 
            highlightPreferenceKey="com.atlassw.tools.eclipse.checkstyle.warning.highlight"
            highlightPreferenceValue="true"
            textPreferenceKey="com.atlassw.tools.eclipse.checkstyle.warning.text"
            textPreferenceValue="false"
            textStylePreferenceKey="com.atlassw.tools.eclipse.checkstyle.warning.text.style"
            textStylePreferenceValue="BOX"           
            colorPreferenceKey="com.atlassw.tools.eclipse.checkstyle.warning.color"
            colorPreferenceValue="255,255,190"
            icon="icons/checkstyle_warning.gif"
            >
      </specification>
      <specification
      		annotationType="com.atlassw.tools.eclipse.checkstyle.info"
      		annotationImageProvider="com.atlassw.tools.eclipse.checkstyle.builder.CheckstyleMarkerImageProvider"
      		presentationLayer="3"
      		label="Checkstyle info"      		   
            verticalRulerPreferenceKey="com.atlassw.tools.eclipse.checkstyle.info.verticalruler"
            verticalRulerPreferenceValue="true"
            overviewRulerPreferenceKey="com.atlassw.tools.eclipse.checkstyle.info.overviewruler"            
            overviewRulerPreferenceValue="true"
            showInNextPrevDropdownToolbarActionKey="Ccom.atlassw.tools.eclipse.checkstyle.info.dropdown"
            showInNextPrevDropdownToolbarAction="true"  
            isGoToPreviousNavigationTargetKey="com.atlassw.tools.eclipse.checkstyle.info.previous"
            isGoToPreviousNavigationTarget="true"            
            isGoToNextNavigationTargetKey="com.atlassw.tools.eclipse.checkstyle.info.next"
            isGoToNextNavigationTarget="true"                 
            highlightPreferenceKey="com.atlassw.tools.eclipse.checkstyle.info.highlight"
            highlightPreferenceValue="true"
            textPreferenceKey="com.atlassw.tools.eclipse.checkstyle.info.text"
            textPreferenceValue="false"
            textStylePreferenceKey="com.atlassw.tools.eclipse.checkstyle.info.text.style"
            textStylePreferenceValue="BOX"           
            colorPreferenceKey="com.atlassw.tools.eclipse.checkstyle.info.color"
            colorPreferenceValue="225,225,255"
            icon="icons/checkstyle_info.gif"
            >
      </specification>
   </extension>
   
   
   
   <extension
         point="org.eclipse.jdt.ui.javaEditorTextHovers">
      <hover
            label="%CheckstyleMarker.name"
            activate="true"
            class="com.atlassw.tools.eclipse.checkstyle.builder.CheckstyleHover"
            id="com.atlassw.tools.eclipse.checkstyle.builder.CheckstyleHover">
      </hover>
   </extension>
   

<!-- 
	Standard plugin check configuration types
	-->
   <extension
         id="checkstyle.CheckConfiguration"
         point="com.atlassw.tools.eclipse.checkstyle.configurationtypes">
      <configuration-type
            name="%BuiltinCheckConfiguration.label"
            internal-name="builtin"
            creatable="false"
            icon="icons/configtype_builtin.gif"
            class="com.atlassw.tools.eclipse.checkstyle.config.configtypes.BuiltInCheckConfiguration"
            editorClass="com.atlassw.tools.eclipse.checkstyle.config.configtypes.ReadonlyLocationEditor">
      </configuration-type>
      <configuration-type
            name="%InternalCheckConfiguration.label"
            internal-name="internal"
            creatable="true"
            icon="icons/configtype_internal.gif"
            class="com.atlassw.tools.eclipse.checkstyle.config.configtypes.InternalCheckConfiguration"
            editorClass="com.atlassw.tools.eclipse.checkstyle.config.configtypes.ReadonlyLocationEditor">
      </configuration-type>
      <configuration-type
            name="%ExternalFileCheckConfiguration.label"
            internal-name="external"
            creatable="true"
            icon="icons/configtype_external.gif"
            class="com.atlassw.tools.eclipse.checkstyle.config.configtypes.ExternalFileCheckConfiguration"
            editorClass="com.atlassw.tools.eclipse.checkstyle.config.configtypes.FileConfigurationLocationEditor">
      </configuration-type>
      <configuration-type
            name="%RemoteCheckConfiguration.label"
            internal-name="remote"
            creatable="true"
            icon="icons/configtype_remote.gif"
            class="com.atlassw.tools.eclipse.checkstyle.config.configtypes.RemoteCheckConfiguration"
            editorClass="com.atlassw.tools.eclipse.checkstyle.config.configtypes.RemoteConfigurationLocationEditor">
      </configuration-type>
      <configuration-type
            name="%ProjectRelativeCheckConfiguration.label"
            internal-name="project"
            creatable="true"
            icon="icons/configtype_project.gif"
            class="com.atlassw.tools.eclipse.checkstyle.config.configtypes.ProjectCheckConfiguration"
            editorClass="com.atlassw.tools.eclipse.checkstyle.config.configtypes.ProjectConfigurationLocationEditor">
      </configuration-type>
   </extension>

<!-- 
	Standard plugin check configurations
	-->
   <extension
         id="checkstyle.CheckConfiguration"
         point="com.atlassw.tools.eclipse.checkstyle.configurations">
		<check-configuration 
			name="Sun Checks" 
			location="sun_checks.xml" 
			description="%SunChecks.description"/>
	</extension>
	
<!-- 
	Standard checkstyle filters
	-->
   <extension
         id="checkstyle.CheckstyleFilters"
         point="com.atlassw.tools.eclipse.checkstyle.filters">
      <!-- this should be the first filter, since it filters out many files with little effort. -->
      <filter
            name="FileTypesFilter"
            internal-name="FileTypesFilter"
            description="Filters all but the statically defined file types (see data tags)"
            class="com.atlassw.tools.eclipse.checkstyle.projectconfig.filters.FileTypesFilter"
            readonly="true"
            selected="true">
            <data value="java"/> 
            <data value="adb"/> 
            <data value="ads"/>
      </filter>
      <filter
            name="%WriteProtectedFilter.label"
            internal-name="WriteProtectedFiles"
            description="%WriteProtectedFilter.description"
            class="com.atlassw.tools.eclipse.checkstyle.projectconfig.filters.WriteProtectedFilter">
      </filter>
      <filter
            name="%UnOpenedFilesFilter.label"
            internal-name="UnOpenedFiles"
            description="%UnOpenedFilesFilter.description"
            class="com.atlassw.tools.eclipse.checkstyle.projectconfig.filters.UnOpenedFilesFilter">
      </filter>      
      <filter
            editorClass="com.atlassw.tools.eclipse.checkstyle.projectconfig.filters.PackageFilterEditor"
            internal-name="FilesFromPackage"
            name="%PackageFilter.label"
            description="%PackageFilter.description"
            class="com.atlassw.tools.eclipse.checkstyle.projectconfig.filters.PackageFilter">
      </filter>
      <filter
            name="%NonSrcDirsFilter.label"
            internal-name="NonSrcDirs"
            description="%NonSrcDirsFilter.description"
            class="com.atlassw.tools.eclipse.checkstyle.projectconfig.filters.NonSrcDirsFilter">
      </filter> 
      <filter
            name="%FilesInSyncFilter.label"
            internal-name="FilesInSync"
            description="%FilesInSyncFilter.description"
            class="com.atlassw.tools.eclipse.checkstyle.projectconfig.filters.FilesInSyncFilter">
      </filter>       
   </extension>

   <!--
   Action that launches the duplicates analysis
   -->
   <!--
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IResource"
            nameFilter="*"
            id="com.atlassw.tools.eclipse.checkstyle.projectcontribution">
         <menu
               label="Checkstyle"
               path="additions"
               id="com.atlassw.tools.eclipse.checkstyle.menu">
            <separator name="group1"/>
         </menu>
         <action
               enablesFor="*"
               label="Search duplicated code"
               icon="icons/duplicatedCode.gif"
               class="com.atlassw.tools.eclipse.checkstyle.duplicates.DuplicatedCodeAction"
               menubarPath="com.atlassw.tools.eclipse.checkstyle.menu/group1"
               id="com.atlassw.tools.eclipse.checkstyle.duplicatesAction"/>
      </objectContribution>
   </extension>
   -->
   
   <!--
   View that displays the duplicates
   -->
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Checkstyle"
            id="com.atlassw.tools.eclipse.checkstyle.category">
      </category>
      <view
            class="com.atlassw.tools.eclipse.checkstyle.duplicates.DuplicatedCodeView"
            icon="icons/duplicatedCode.gif"
            category="com.atlassw.tools.eclipse.checkstyle.category"
            name="%DuplicatedCodeView.name"
            id="com.atlassw.tools.eclipse.checkstyle.duplicatesView"/>
   </extension>
   
</plugin>
