<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  
   <!-- defines the extension point to contribute custom configuration type. -->
   <extension-point id="configurationtypes" name="Configuration types" schema="schema/configtypes.exsd"/>

   <!-- defines the extension point to contribute default checkstyle configurations to the checkstyle plugin -->
   <extension-point id="configurations" name="Checkstyle configurations" schema="schema/configurations.exsd"/>
    
   <!-- defines the extension point to contribute custom filters to the checkstyle plugin -->
   <extension-point id="filters" name="Checkstyle filters" schema="schema/filters.exsd"/>

   <!-- defines the extension point to contribute custom configuration save filters -->
   <extension-point id="saveFilters" name="Configuration save filters" schema="schema/saveFilters.exsd"/>
   
   <extension point="org.eclipse.ui.startup">
   	  <startup class="com.atlassw.tools.eclipse.checkstyle.CheckstylePluginStartup"/>
   </extension>
   
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>
   
   <extension
        point="org.eclipse.core.runtime.preferences">
        <initializer class="com.atlassw.tools.eclipse.checkstyle.preferences.PrefsInitializer"/>
    </extension>
    
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Checkstyle"
            class="com.atlassw.tools.eclipse.checkstyle.preferences.CheckstylePreferencePage"
            id="com.atlassw.tools.eclipse.checkstyle.preferences.CheckstylePreferencePage">
      </page>
      <page
            name="%VotingPage.name"
            class="com.atlassw.tools.eclipse.checkstyle.voting.VotingPreferencePage"
            id="com.atlassw.tools.eclipse.checkstyle.voting"
      		category="com.atlassw.tools.eclipse.checkstyle.preferences.CheckstylePreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            name="%CheckstylePropertiesPage.name"
            nameFilter="*"
            class="com.atlassw.tools.eclipse.checkstyle.properties.CheckstylePropertyPage"
            id="com.atlassw.tools.eclipse.checkstyle.properties.CheckstylePropertyPage">
      		<filter name="open" value="true"/>
      </page>
   </extension>
   <extension
         id="CheckstyleBuilder"
         name="%CheckstyleBuilder.name"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="com.atlassw.tools.eclipse.checkstyle.builder.CheckstyleBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="CheckstyleNature"
         name="%CheckstyleNature.name"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.atlassw.tools.eclipse.checkstyle.nature.CheckstyleNature">
         </run>
      </runtime>
   </extension>
 
<!--
	Marker for displaying checkstyle warnings
	-->
   <extension
         id="CheckstyleMarker"
         name="%CheckstyleMarker.name"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <super	
      		type="org.eclipse.jdt.core.problem">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="ModuleName">
      </attribute>
      <attribute
            name="MessageKey">
      </attribute>
      <attribute name="categoryId"/>
   </extension>   
      
<!--
	Provide marker resolutions
	-->
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            markerType="com.atlassw.tools.eclipse.checkstyle.CheckstyleMarker"
            class="com.atlassw.tools.eclipse.checkstyle.quickfixes.CheckstyleMarkerResolutionGenerator">
      </markerResolutionGenerator>
   </extension>
   

<!--
   Annotation-support for checkstyle markers
   -->
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
      		name="com.atlassw.tools.eclipse.checkstyle.error"         
            markerType="com.atlassw.tools.eclipse.checkstyle.CheckstyleMarker"
            markerSeverity="2">
      </type>
      <type
      		name="com.atlassw.tools.eclipse.checkstyle.warning"         
            markerType="com.atlassw.tools.eclipse.checkstyle.CheckstyleMarker"
            markerSeverity="1">
      </type>
      <type
      		name="com.atlassw.tools.eclipse.checkstyle.info"         
            markerType="com.atlassw.tools.eclipse.checkstyle.CheckstyleMarker"
            markerSeverity="0">
      </type>
   </extension>
  
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
      		annotationType="com.atlassw.tools.eclipse.checkstyle.error"
      		annotationImageProvider="com.atlassw.tools.eclipse.checkstyle.builder.CheckstyleMarkerImageProvider"
      		presentationLayer="5"
      		label="Checkstyle error"      		   
            verticalRulerPreferenceKey="com.atlassw.tools.eclipse.checkstyle.error.verticalruler"
            verticalRulerPreferenceValue="true"
            overviewRulerPreferenceKey="com.atlassw.tools.eclipse.checkstyle.error.overviewruler"            
            overviewRulerPreferenceValue="true"
            showInNextPrevDropdownToolbarActionKey="com.atlassw.tools.eclipse.checkstyle.error.dropdown"
            showInNextPrevDropdownToolbarAction="true"  
            isGoToPreviousNavigationTargetKey="com.atlassw.tools.eclipse.checkstyle.error.previous"
            isGoToPreviousNavigationTarget="true"            
            isGoToNextNavigationTargetKey="com.atlassw.tools.eclipse.checkstyle.error.next"
            isGoToNextNavigationTarget="true"                 
            highlightPreferenceKey="com.atlassw.tools.eclipse.checkstyle.error.highlight"
            highlightPreferenceValue="true"
            textPreferenceKey="com.atlassw.tools.eclipse.checkstyle.error.text"
            textPreferenceValue="false"
            textStylePreferenceKey="com.atlassw.tools.eclipse.checkstyle.error.text.style"
            textStylePreferenceValue="BOX"           
            colorPreferenceKey="com.atlassw.tools.eclipse.checkstyle.error.color"
            colorPreferenceValue="255,225,225"
            icon="icons/checkstyle_error.gif"
            >
      </specification>
      <specification
      		annotationType="com.atlassw.tools.eclipse.checkstyle.warning"
      		annotationImageProvider="com.atlassw.tools.eclipse.checkstyle.builder.CheckstyleMarkerImageProvider"
      		presentationLayer="4"
      		label="Checkstyle warning"      		   
            verticalRulerPreferenceKey="com.atlassw.tools.eclipse.checkstyle.warning.verticalruler"
            verticalRulerPreferenceValue="true"
            overviewRulerPreferenceKey="com.atlassw.tools.eclipse.checkstyle.warning.overviewruler"            
            overviewRulerPreferenceValue="true"
            showInNextPrevDropdownToolbarActionKey="com.atlassw.tools.eclipse.checkstyle.warning.dropdown"
            showInNextPrevDropdownToolbarAction="true"  
            isGoToPreviousNavigationTargetKey="com.atlassw.tools.eclipse.checkstyle.warning.previous"
            isGoToPreviousNavigationTarget="true"            
            isGoToNextNavigationTargetKey="com.atlassw.tools.eclipse.checkstyle.warning.next"
            isGoToNextNavigationTarget="true"                 
            highlightPreferenceKey="com.atlassw.tools.eclipse.checkstyle.warning.highlight"
            highlightPreferenceValue="true"
            textPreferenceKey="com.atlassw.tools.eclipse.checkstyle.warning.text"
            textPreferenceValue="false"
            textStylePreferenceKey="com.atlassw.tools.eclipse.checkstyle.warning.text.style"
            textStylePreferenceValue="BOX"           
            colorPreferenceKey="com.atlassw.tools.eclipse.checkstyle.warning.color"
            colorPreferenceValue="255,255,190"
            icon="icons/checkstyle_warning.gif"
            >
      </specification>
      <specification
      		annotationType="com.atlassw.tools.eclipse.checkstyle.info"
      		annotationImageProvider="com.atlassw.tools.eclipse.checkstyle.builder.CheckstyleMarkerImageProvider"
      		presentationLayer="3"
      		label="Checkstyle info"      		   
            verticalRulerPreferenceKey="com.atlassw.tools.eclipse.checkstyle.info.verticalruler"
            verticalRulerPreferenceValue="true"
            overviewRulerPreferenceKey="com.atlassw.tools.eclipse.checkstyle.info.overviewruler"            
            overviewRulerPreferenceValue="true"
            showInNextPrevDropdownToolbarActionKey="Ccom.atlassw.tools.eclipse.checkstyle.info.dropdown"
            showInNextPrevDropdownToolbarAction="true"  
            isGoToPreviousNavigationTargetKey="com.atlassw.tools.eclipse.checkstyle.info.previous"
            isGoToPreviousNavigationTarget="true"            
            isGoToNextNavigationTargetKey="com.atlassw.tools.eclipse.checkstyle.info.next"
            isGoToNextNavigationTarget="true"                 
            highlightPreferenceKey="com.atlassw.tools.eclipse.checkstyle.info.highlight"
            highlightPreferenceValue="true"
            textPreferenceKey="com.atlassw.tools.eclipse.checkstyle.info.text"
            textPreferenceValue="false"
            textStylePreferenceKey="com.atlassw.tools.eclipse.checkstyle.info.text.style"
            textStylePreferenceValue="BOX"           
            colorPreferenceKey="com.atlassw.tools.eclipse.checkstyle.info.color"
            colorPreferenceValue="225,225,255"
            icon="icons/checkstyle_info.gif"
            >
      </specification>
   </extension>
   
   
   
   <extension
         point="org.eclipse.jdt.ui.javaEditorTextHovers">
      <hover
            label="%CheckstyleMarker.name"
            activate="true"
            class="com.atlassw.tools.eclipse.checkstyle.builder.CheckstyleHover"
            id="com.atlassw.tools.eclipse.checkstyle.builder.CheckstyleHover">
      </hover>
   </extension>
   

<!-- 
	Standard plugin check configuration types
	-->
   <extension
         id="checkstyle.CheckConfigurationTypes"
         point="com.atlassw.tools.eclipse.checkstyle.configurationtypes">
      <configuration-type
            name="%BuiltinCheckConfiguration.label"
            internal-name="builtin"
            creatable="false"
            editable="false"
            configurable="false"
            additionalPropertySupport="false"
            icon="icons/configtype_builtin.gif"
            class="com.atlassw.tools.eclipse.checkstyle.config.configtypes.BuiltInConfigurationType"
            editorClass="com.atlassw.tools.eclipse.checkstyle.config.configtypes.BuiltInConfigurationEditor">
      </configuration-type>
      <configuration-type
            name="%InternalCheckConfiguration.label"
            internal-name="internal"
            creatable="true"
            editable="true"
            configurable="true"
            additionalPropertySupport="true"
            icon="icons/configtype_internal.gif"
            class="com.atlassw.tools.eclipse.checkstyle.config.configtypes.InternalConfigurationType"
            editorClass="com.atlassw.tools.eclipse.checkstyle.config.configtypes.InternalConfigurationEditor">
      </configuration-type>
      <configuration-type
            name="%ExternalFileCheckConfiguration.label"
            internal-name="external"
            creatable="true"
            editable="true"
            configurable="true"
            additionalPropertySupport="true"
            icon="icons/configtype_external.gif"
            class="com.atlassw.tools.eclipse.checkstyle.config.configtypes.ExternalFileConfigurationType"
            editorClass="com.atlassw.tools.eclipse.checkstyle.config.configtypes.ExternalFileConfigurationEditor">
      </configuration-type>
      <configuration-type
            name="%RemoteCheckConfiguration.label"
            internal-name="remote"
            creatable="true"
            editable="true"
            configurable="false"
            additionalPropertySupport="true"
            icon="icons/configtype_remote.gif"
            class="com.atlassw.tools.eclipse.checkstyle.config.configtypes.RemoteConfigurationType"
            editorClass="com.atlassw.tools.eclipse.checkstyle.config.configtypes.RemoteConfigurationEditor">
      </configuration-type>
      <configuration-type
            name="%ProjectRelativeCheckConfiguration.label"
            internal-name="project"
            creatable="true"
            editable="true"
            configurable="true"
            additionalPropertySupport="true"
            icon="icons/configtype_project.gif"
            class="com.atlassw.tools.eclipse.checkstyle.config.configtypes.ProjectConfigurationType"
            editorClass="com.atlassw.tools.eclipse.checkstyle.config.configtypes.ProjectConfigurationEditor">
      </configuration-type>
   </extension>

<!-- 
	Standard plugin check configurations
	-->
   <extension
         id="checkstyle.CheckConfiguration"
         point="com.atlassw.tools.eclipse.checkstyle.configurations">
		<check-configuration 
			name="Sun Checks" 
			location="sun_checks.xml" 
			description="%SunChecks.description"/>
		<check-configuration 
			name="Sun Checks (Eclipse)" 
			location="sun_checks_eclipse.xml" 
			description="%SunChecksEclipse.description"/>
	</extension>
	
<!-- 
	Standard checkstyle filters
	-->
   <extension
         id="checkstyle.CheckstyleFilters"
         point="com.atlassw.tools.eclipse.checkstyle.filters">
      <!-- this should be the first filter, since it filters out many files with little effort. -->
      <filter
            name="%FileTypesFilter.label"
            internal-name="FileTypesFilter"
            description="%FileTypesFilter.description"
            class="com.atlassw.tools.eclipse.checkstyle.projectconfig.filters.FileTypesFilter"
            editorClass="com.atlassw.tools.eclipse.checkstyle.projectconfig.filters.FileTypesFilterEditor"
            readonly="true"
            selected="true">
            <data value="java"/> 
            <data value="properties"/> 
      </filter>
      <filter
            name="%WriteProtectedFilter.label"
            internal-name="WriteProtectedFiles"
            description="%WriteProtectedFilter.description"
            class="com.atlassw.tools.eclipse.checkstyle.projectconfig.filters.WriteProtectedFilter">
      </filter>
      <filter
            name="%UnOpenedFilesFilter.label"
            internal-name="UnOpenedFiles"
            description="%UnOpenedFilesFilter.description"
            class="com.atlassw.tools.eclipse.checkstyle.projectconfig.filters.UnOpenedFilesFilter">
      </filter>      
      <filter
            editorClass="com.atlassw.tools.eclipse.checkstyle.projectconfig.filters.PackageFilterEditor"
            internal-name="FilesFromPackage"
            name="%PackageFilter.label"
            description="%PackageFilter.description"
            class="com.atlassw.tools.eclipse.checkstyle.projectconfig.filters.PackageFilter">
      </filter>
      <filter
            name="%NonSrcDirsFilter.label"
            internal-name="NonSrcDirs"
            description="%NonSrcDirsFilter.description"
            class="com.atlassw.tools.eclipse.checkstyle.projectconfig.filters.NonSrcDirsFilter">
      </filter> 
      <filter
            name="%FilesInSyncFilter.label"
            internal-name="FilesInSync"
            description="%FilesInSyncFilter.description"
            class="com.atlassw.tools.eclipse.checkstyle.projectconfig.filters.FilesInSyncFilter">
      </filter> 
      <filter
            name="%FilesInSyncFilter2.label"
            internal-name="FilesInSync2"
            description="%FilesInSyncFilter2.description"
            class="com.atlassw.tools.eclipse.checkstyle.projectconfig.filters.FilesInSyncFilter2">
      </filter>         
   </extension>
   
 <!-- 
	Standard checkstyle save filters
	-->
   <extension
         id="checkstyle.SaveFilters"
         point="com.atlassw.tools.eclipse.checkstyle.saveFilters">
         
      	<saveFilter class="com.atlassw.tools.eclipse.checkstyle.config.savefilter.CheckerModuleSaveFilter"/>   
	 	<saveFilter class="com.atlassw.tools.eclipse.checkstyle.config.savefilter.FileContentsHolderSaveFilter"/>   
		<saveFilter class="com.atlassw.tools.eclipse.checkstyle.config.savefilter.TreeWalkerModuleSaveFilter"/>   
		<saveFilter class="com.atlassw.tools.eclipse.checkstyle.config.savefilter.SortingSaveFilter"/>    
   </extension>  

   <!--
   View that displays the duplicates
   -->
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Checkstyle"
            id="com.atlassw.tools.eclipse.checkstyle.category">
      </category>
      <view
            class="com.atlassw.tools.eclipse.checkstyle.duplicates.DuplicatedCodeView"
            icon="icons/duplicatedCode.gif"
            category="com.atlassw.tools.eclipse.checkstyle.category"
            name="%DuplicatedCodeView.name"
            id="com.atlassw.tools.eclipse.checkstyle.duplicatesView"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.ide.markerSupport">
         
         <markerGroupingEntry id="com.atlassw.tools.eclipse.checkstyle.CheckstyleMarker"
        	markerGrouping="org.eclipse.jdt.ui.java_marker_category"
        	label="%CheckstyleMarker.name"
        	priority="1"/>
        	
       	 <markerAttributeGrouping markerType="org.eclipse.jdt.core.problem" attribute="categoryId">
		 	<markerAttributeMapping value="999" markerGroupingEntry="com.atlassw.tools.eclipse.checkstyle.CheckstyleMarker"/>
   		 </markerAttributeGrouping>
   </extension>
   
   <!-- Popupmenu action for the 'Apply Checkstyle fixes' action -->
	<extension
		point="org.eclipse.ui.popupMenus">
	  	<objectContribution 
	    	objectClass="org.eclipse.core.resources.IFile"
	    	adaptable="true"
	    	id="com.atlassw.tools.eclipse.checkstyle.FixCheckstyleMarkersAction">
	 		<visibility>
	 			<or>
	 				<objectClass name="org.eclipse.jdt.core.ICompilationUnit"/>
	 				<objectClass name="org.eclipse.jdt.core.IType"/>
	 				<and>
	 					<objectClass name="org.eclipse.core.resources.IFile"/>
	 					<objectState name="extension" value="java"/>
	 				</and>	
				</or>
	 		</visibility>
	 		<action
	       		label="%FixCheckstyleMarkersAction.label"
	       		class="com.atlassw.tools.eclipse.checkstyle.quickfixes.FixCheckstyleMarkersAction"
	       		enablesFor="1"
	       		menubarPath="additions"
	       		tooltip="%FixCheckstyleMarkersAction.tooltip"
	       		definitionId="CheckstylePlugin.ApplyCheckstyleFixes"
	       		id="com.atlassw.tools.eclipse.checkstyle.FixCheckstyleMarkersAction">
	    		<selection
	          		name="*.java"
	          		class="org.eclipse.core.resources.IFile">
	    		</selection>
	    		<selection
	          		class="org.eclipse.jdt.core.ICompilationUnit">
	    		</selection>
	    		<selection
	          		class="org.eclipse.jdt.core.IType">
	    		</selection>
	 		</action>
	  	</objectContribution>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			categoryId="org.eclipse.jdt.ui.category.source"
			description="%FixCheckstyleMarkersAction.tooltip"
			id="CheckstylePlugin.ApplyCheckstyleFixes"
			name="%FixCheckstyleMarkersAction.label"
			defaultHandler="com.atlassw.tools.eclipse.checkstyle.quickfixes.FixCheckstyleMarkersHandler">
		</command>
	</extension>	
	<extension 
		point="org.eclipse.ui.bindings">
		<key
			sequence="M1+M3+C"
			commandId="CheckstylePlugin.ApplyCheckstyleFixes"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.jdt.ui.javaEditorScope" />>
	</extension>

	<!-- Popupmenu action for the 'Configure Project(s) from blueprint...' action -->
	<extension
		point="org.eclipse.ui.popupMenus">
	  	<objectContribution 
	    	objectClass="org.eclipse.core.resources.IProject"
	    	adaptable="true"
	    	id="com.atlassw.tools.eclipse.checkstyle.bulk">
	 		<menu
          		id="Checkstyle.menu"
          		label="%Checkstyle.menu"
          		path="additions">
          		<separator
                  	name="xbatch">
            	</separator>
	 		</menu>
	 		<visibility>
	 			<objectClass name="org.eclipse.core.resources.IProject"/>
	 		</visibility>
	 		<action
	       		label="%DeactivateProjectsPrintAction.label"
	       		class="com.atlassw.tools.eclipse.checkstyle.actions.DeactivateProjectsAction"
	       		enablesFor="+"
	       		menubarPath="Checkstyle.menu/xbatch"
	       		tooltip="%DeactivateProjectsPrintAction.tooltip"
	       		id="com.atlassw.tools.eclipse.checkstyle.projectconfig.DeactivateProjectsPrintAction">
	    		<selection
	          		class="org.eclipse.core.resources.IProject">
	    		</selection>
	 		</action>
	 		<action
	       		label="%ActivateProjectsPrintAction.label"
	       		class="com.atlassw.tools.eclipse.checkstyle.actions.ActivateProjectsAction"
	       		enablesFor="+"
	       		menubarPath="Checkstyle.menu/xbatch"
	       		tooltip="%ActivateProjectsPrintAction.tooltip"
	       		id="com.atlassw.tools.eclipse.checkstyle.projectconfig.ActivateProjectsPrintAction">
	    		<selection
	          		class="org.eclipse.core.resources.IProject">
	    		</selection>
	 		</action>
	 		<action
	       		label="%ConfigureProjectFromBluePrintAction.label"
	       		class="com.atlassw.tools.eclipse.checkstyle.actions.ConfigureProjectFromBluePrintAction"
	       		enablesFor="+"
	       		menubarPath="Checkstyle.menu/xbatch"
	       		tooltip="%ConfigureProjectFromBluePrintAction.tooltip"
	       		id="com.atlassw.tools.eclipse.checkstyle.ConfigureProjectFromBluePrintAction">
	    		<selection
	          		class="org.eclipse.core.resources.IProject">
	    		</selection>
	 		</action>
	  	</objectContribution>
	</extension>	
	
	<!-- Popupmenu actions to check selected files on demand -->
	<extension
		point="org.eclipse.ui.popupMenus">
	  	<objectContribution 
	    	objectClass="org.eclipse.core.resources.IResource"
	    	adaptable="true"
	    	id="com.atlassw.tools.eclipse.checkstyle.ondemand">
	 		<menu
          		id="Checkstyle.menu"
          		label="%Checkstyle.menu"
          		path="additions">
          		<separator
                  	name="ondemand">
            	</separator>
	 		</menu>
	 		<action
	       		label="%ClearSelectedFilesAction.label"
	       		class="com.atlassw.tools.eclipse.checkstyle.actions.ClearSelectedFilesAction"
	       		enablesFor="+"
	       		menubarPath="Checkstyle.menu/ondemand"
	       		tooltip="%ClearSelectedFilesAction.tooltip"
	       		id="com.atlassw.tools.eclipse.checkstyle.actions.ClearSelectedFilesAction">
	 		</action>
	 		<action
	       		label="%CheckSelectedFilesAction.label"
	       		class="com.atlassw.tools.eclipse.checkstyle.actions.CheckSelectedFilesAction"
	       		enablesFor="+"
	       		menubarPath="Checkstyle.menu/ondemand"
	       		tooltip="%CheckSelectedFilesAction.tooltip"
	       		id="com.atlassw.tools.eclipse.checkstyle.actions.CheckSelectedFilesAction">
	 		</action>
	  	</objectContribution>
	</extension>			
</plugin>
