<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="%MarkerStatsView.name"
            icon="icons/listingView.gif"
            category="com.atlassw.tools.eclipse.checkstyle.category"
            class="com.atlassw.tools.eclipse.checkstyle.stats.views.MarkerStatsView"
            id="com.atlassw.tools.eclipse.checkstyle.stats.views.MarkerStatsView">
      </view>
      <view
            name="%GraphStatsView.name"
            icon="icons/graphView.gif"
            category="com.atlassw.tools.eclipse.checkstyle.category"
            class="com.atlassw.tools.eclipse.checkstyle.stats.views.GraphStatsView"
            id="com.atlassw.tools.eclipse.checkstyle.stats.views.GraphStatsView">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="com.atlassw.tools.eclipse.checkstyle.stats.PrefsInitializer"/>
   </extension>

</plugin>
