body.navbar{
	background-image:url(images/tile_center.gif);
	background-attachment:fixed;
	background-position:-680px 0px;
}

body.content{
	margin-top:0px;
	margin-left:5px;
	background-image:url(images/tile_center.gif);
	background-attachment:fixed;
}

h1.header{
	font-size:36px;
	color:#003399;
	margin-top: 0;
}

h2{
	background-color: #003399;
	color: #FFFFFF;
	text-align: center;
	font-size:24px;
	margin-top:0px;
	text-shadow:#33CCFF;
}
h3 {
	text-decoration:underline;
}

form{
	margin: 5px 0px 0px 0px;
}

p.copyright{
	font-size:14px;
	color:#003399;
}
img{
	text-align:left;
	border:0;
}


.buttonscontainer {
	width: 220px; 
	margin-top: -4px;
}

.buttons a {
	color: #FFFFFF;
	background-color: #003399;
	padding: 2px;
	padding-left: 3px;
	display: block;
	border-left: 10px solid #6699FF;
	font: 12px Arial, sans-serif;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	margin-top: 1px;
}

.buttons span {
	color: #FFFFFF;
	background-color: #003399;
	padding: 2px;
	padding-left: 3px;
	display: block;
	border-left: 10px solid #6699FF;
	font: 12px Arial, sans-serif;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	margin-top: 1px;
}

.buttons a:hover {
	border-left: 10px solid #FFFFFF;
	text-decoration: none;
	color: #FFFFFF;
}

.box {
	display: block;
	border: 1px solid #003399;
	margin-top: 5px;
	padding: 0px 3px 3px 3px;
}

.box h3{
	font: 12px Arial, sans-serif;
	font-weight: bold;
	background-color: #003399;
	color: #FFFFFF;
	text-align: center;
	margin: 0px -3px 3px -3px;
	text-decoration:none;
}

.donors a:link {
	text-decoration:none; 
	color:#003399; 
	font-family: verdana, arial, geneva, sans-serif; 
	font-size: 11px; 
}
.donors a:visited {
	text-decoration:none; 
	color:#003399; 
	font-family: verdana, arial, geneva, sans-serif; 
	font-size: 11px; 
}
.donors a:active {
	text-decoration:none; 
	color:#003399;
	font-family: verdana, arial, geneva, sans-serif; 
	font-size: 11px; 
}
.donors a:hover {
	text-decoration:none; 
	color:#003399; 
	font-family: verdana, arial, geneva, sans-serif; 
	font-size: 11px; 
}

.donorcomment {
	font-family: verdana, arial, geneva, sans-serif; 
	font-size: 11px; 
	color: #000000;
	font-style: italic; 
}

.releaselist {
	margin-top: 0px;
}

.releaselist a {
	white-space: nowrap;
}
