<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.maven.ide.eclipse.projectConfigurators">
       <configurator id="org.maven.ide.eclipse.checkstyle"
        class="org.maven.ide.eclipse.checkstyle.CheckstyleProjectConfigurator"
        name="Checkstyle"/>         
   </extension>
</plugin>
