<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="com.atlassw.tools.eclipse.testcheckstyle"
   name="TestCheckStylePlugin Plug-in"
   version="1.0.0"
   provider-name=""
   class="TestCheckStylePlugin.TestCheckStylePluginPlugin">

   <runtime>
      <library name="TestCheckStylePlugin2.jar">
         <export name="*"/>
      </library>
      <library name="checkstyle-all-3.3.jar"/>
      <library name="checkstyle-optional-3.3.jar"/>
   </runtime>
   <requires>
      <import plugin="com.atlassw.tools.eclipse.checkstyle"/>
      <import plugin="org.junit"/>
   </requires>


</plugin>
