Redirect 301 /index.shtml /
Redirect 301 /downloads.html /#!/install
Redirect 301 /basic_setup_project.html /#!/project-setup
Redirect 301 /basic_creating_config.html /#!/custom-config
Redirect 301 /advanced_configtypes.html /#!/configtypes
Redirect 301 /advanced_filters.html /#!/filters
Redirect 301 /advanced_file_sets.html /#!/filesets
Redirect 301 /advanced_configtypes.html /#!/configtypes
Redirect 301 /advanced_preferences.html /#!/preferences
Redirect 301 /advanced_properties.html /#!/properties
Redirect 301 /extending.html /#!/extensions
Redirect 301 /extending_custom_checks.html /#!/custom-checks
Redirect 301 /extending_builtin_configurations.html /#!/builtin-config
Redirect 301 /extending_filters.html /#!/custom-filters
Redirect 301 /faq.html /#!/faq
Redirect 301 /development.html /
Redirect 301 /developers.html /
Redirect 301 /screen_shots.html /
Redirect 301 /getting_started.html /
RedirectMatch 301 /releasenotes/(.*/)?release_notes.*\.html /#!/releasenotes
