<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="Eclipse Checkstyle" sequenceNumber="1717393787">
  <locations>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.jdt.feature.group" version="3.18.1300.v20220831-1800"/>
      <unit id="org.eclipse.sdk.ide" version="4.25.0.I20220831-1800"/>
      <unit id="org.eclipse.e4.tools.emf.ui" version="4.7.300.v20220420-0901"/>
      <unit id="org.eclipse.e4.tools.services" version="4.9.0.v20210427-1802"/>
      <unit id="org.eclipse.e4.ui.progress" version="0.3.500.v20220717-1456"/>
      <unit id="org.eclipse.ecf" version="3.10.0.v20210925-0032"/>
      <unit id="org.eclipse.ecf.filetransfer" version="5.1.102.v20210409-2301"/>
      <unit id="org.eclipse.ecf.identity" version="3.9.402.v20210409-2301"/>
      <unit id="org.eclipse.ecf.provider.filetransfer" version="3.2.800.v20220215-0126"/>
      <unit id="org.eclipse.emf.feature.group" version="2.31.0.v20220817-1401"/>
      <unit id="org.sat4j.core" version="2.3.6.v20201214"/>
      <unit id="org.sat4j.pb" version="2.3.6.v20201214"/>
      <unit id="org.apache.commons.io" version="2.8.0.v20210415-0900"/>
      <unit id="junit-jupiter-api" version="5.9.0"/>
      <unit id="junit-jupiter-engine" version="5.9.0"/>
      <unit id="junit-jupiter-migrationsupport" version="5.9.0"/>
      <unit id="junit-jupiter-params" version="5.9.0"/>
      <unit id="junit-platform-commons" version="1.9.0"/>
      <unit id="junit-platform-engine" version="1.9.0"/>
      <unit id="junit-platform-launcher" version="1.9.0"/>
      <unit id="junit-platform-runner" version="1.9.0"/>
      <unit id="junit-platform-suite-api" version="1.9.0"/>
      <unit id="junit-platform-suite-commons" version="1.9.0"/>
      <unit id="junit-vintage-engine" version="5.9.0"/>
      <unit id="org.apiguardian.api" version="1.1.2"/>
      <repository location="https://download.eclipse.org/releases/2022-09/202209141001/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.objectweb.asm" version="9.3.0.v20220409-0157"/>
      <unit id="org.objectweb.asm.tree" version="9.3.0.v20220409-0157"/>
      <repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20220830213456/repository"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="com.github.sevntu.checkstyle.checks.feature.feature.group" version="1.44.1"/>
      <repository location="https://sevntu-checkstyle.github.io/sevntu.checkstyle/update-site/"/>
    </location>
    <location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven" label="SnakeYaml">
      <dependencies>
        <dependency>
          <groupId>org.yaml</groupId>
          <artifactId>snakeyaml</artifactId>
          <version>2.2</version>
          <type>jar</type>
        </dependency>
      </dependencies>
    </location>
    <location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven" label="Javassist">
      <dependencies>
        <dependency>
          <groupId>org.javassist</groupId>
          <artifactId>javassist</artifactId>
          <version>3.29.2-GA</version>
          <type>jar</type>
        </dependency>
      </dependencies>
    </location>
    <location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven" label="DOM4J">
      <dependencies>
        <dependency>
          <groupId>org.dom4j</groupId>
          <artifactId>dom4j</artifactId>
          <version>2.1.4</version>
          <type>jar</type>
        </dependency>
      </dependencies>
    </location>
    <location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven" label="Classgraph">
      <dependencies>
        <dependency>
          <groupId>io.github.classgraph</groupId>
          <artifactId>classgraph</artifactId>
          <version>4.8.172</version>
          <type>jar</type>
        </dependency>
      </dependencies>
    </location>
    <location includeDependencyDepth="direct" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven" label="AssertJ">
      <dependencies>
        <dependency>
          <groupId>org.assertj</groupId>
          <artifactId>assertj-core</artifactId>
          <version>3.26.0</version>
          <type>jar</type>
        </dependency>
      </dependencies>
    </location>
    <location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven" label="ApacheCommons">
      <dependencies>
        <dependency>
          <groupId>org.apache.commons</groupId>
          <artifactId>commons-lang3</artifactId>
          <version>3.14.0</version>
          <type>jar</type>
        </dependency>
      </dependencies>
    </location>
  </locations>
  <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-17"/>
</target>
