/* Page styles */
html {
    background-color: #B9CC90;
    height: 100%;
    color: #000000;
}
body {
    font-family: verdana, "trebuchet MS", helvetica, sans-serif;
}
/* Header styles */
#header {
    color: #000000;
    background-color: #CDDEFF;
    border-left: 1px #7E90B2 solid;
    border-right: 1px #7E90B2 solid;
}
#content {
    color: #000000;
    background-color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    border-left: 1px #7E90B2 solid;
    border-right: 1px #7E90B2 solid;
    border-bottom: 1px #7E90B2 solid;
}
#content h2 {
    color: #FFFFFF;
    background-color: #7E90B2;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    font-variant: small-caps;
    margin-top: 5px;
    border-bottom: 5px solid #cddeff;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 10px;
}
#content h3 {
    font-size: 12px;
    margin-left: 10px;
    text-decoration: none;
    color: #000000;
    background-color: #ffffff;
}
#content h4 {
    font-size: 11px;
    margin-left: 10px;
}
/* Text block styles */
#content p {
    line-height: 1.5;
    font-size: 11px;
    margin-bottom: 5px;
}
#content table, ul, ol {
    line-height: 1.5;
    font-size: 11px;
}
#content pre {
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
}
#content ol li {
    list-style: decimal;
    margin-left: 30px;
}
#content ul li {
    list-style: disc;
    margin-left: 20px;
}
/* Styles for simple links */
#content a, a:hover {
    color:#003399;
    text-decoration: underline;
}
#content a:hover {
    color: #6699ff;
}
#content img {
    text-align:left;
    border:0px;
}
#footer {
    color:#7E90B2;
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
    vertical-align: middle;
    white-space: nowrap;
    margin-bottom: 10px;
}
#footer a, a:hover {
    color:#7E90B2;
    text-decoration: underline;
}
#footer a:hover {
    color: #6699ff;
}
.screenshot {
    width: 128px;
    height: 128px;
}
.screenshot span {
    border: 1px #7E90B2 solid;
    text-decoration: none;
    width: 128px;
    height: 128px;
    overflow:hidden;
    margin: 5px;
    padding:5px;
    background-repeat: no-repeat;
    background-position: center;
    float:left;
    cursor:pointer;
}
.screenshot-lt {
    width: 64px;
    height: 64px;
}
.screenshot-lt span {
    border: 1px #7E90B2 solid;
    text-decoration: none;
    width: 64px;
    height: 64px;
    overflow:hidden;
    margin: 5px;
    padding:5px;
    background-repeat: no-repeat;
    background-position: center;
    float:left;
    cursor:pointer;
}
#stats {
    border: 1px #7E90B2 solid;
    margin-left: 10px;
}
#stats h2 {
    color: #FFFFFF;
    background-color: #7E90B2;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    font-variant: small-caps;
    margin: 0px;
    border-bottom: 0px;
}
/* Styles used to color source code */
.code-lightblue, .code-blue, .code-green, .code-black, .code-purple {
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
    background-color: #FFFFFF;
}
.code-lightblue {
    color: #3f5fbf;
}
.code-blue {
    color: #000080;
}
.code-green {
    color: #008000;
}
.code-black {
    color: #000000;
}
.code-purple {
    color: #7f0055;
}