name: CI
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  install:
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest, windows-latest]
        jdk: [11, 17]
    runs-on: ${{ matrix.platform }}
    permissions:
      checks: write
      pull-requests: write
    steps:
    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      with:
        fetch-depth: 50

    - name: Setup local maven cache
      uses: actions/cache@704facf57e6136b1bc63b828d79edcd491f0ee84 # v3.3.2
      with:
        path: ~/.m2/repository
        key: maven-cache-${{ hashFiles('**/pom.xml') }}

    - name: Set up JDK ${{ matrix.jdk }}
      uses: actions/setup-java@387ac29b308b003ca37ba93a6cab5eb57c8f5f93 # v4.0.0
      with:
        distribution: temurin
        java-version: ${{ matrix.jdk }}

    - name: Build with Maven
      run: ./mvnw --errors --no-transfer-progress install

    - name: Difference Check
      run: ./.ci/validation.sh git-diff

    - name: Publish Test Results
      uses: EnricoMi/publish-unit-test-result-action@e780361cd1fc1b1a170624547b3ffda64787d365 # v2.12.0
      # we only want to attach test results one time, not for every matrix combination
      if: startsWith(matrix.platform, 'ubuntu') && (matrix.jdk == 17)
      with:
        files: '**/target/surefire-reports/*.xml'
