name: CI
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  install:
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest, windows-latest]
        jdk: [17, 21]
    runs-on: ${{ matrix.platform }}
    permissions:
      checks: write
      pull-requests: write
    steps:
    - uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633 # v4.1.2
      with:
        fetch-depth: 50

    - name: Setup local maven cache
      uses: actions/cache@ab5e6d0c87105b4c9c2047343972218f562e4319 # v4.0.1
      with:
        path: ~/.m2/repository
        key: maven-cache-${{ hashFiles('**/pom.xml') }}

    - name: Set up JDKs
      uses: actions/setup-java@99b8673ff64fbf99d8d325f52d9a5bdedb8483e9 # v4.2.1
      with:
        distribution: temurin
        # have Java 17 for Tycho last, as it will be in JAVA_HOME that way
        java-version: |
          ${{ matrix.jdk }}
          17

    - name: Build with Maven
      run: ./mvnw --errors --no-transfer-progress install

    - name: Difference Check
      run: ./.ci/validation.sh git-diff

    - name: Publish Test Results
      uses: EnricoMi/publish-unit-test-result-action@30eadd5010312f995f0d3b3cff7fe2984f69409e # v2.16.1
      # we only want to attach test results one time, not for every matrix combination
      if: startsWith(matrix.platform, 'ubuntu') && (matrix.jdk == 17)
      with:
        files: '**/target/surefire-reports/*.xml'
